/* Larger Views ******************************/
@media (min-width: 769px) {
	nav ul {
		display: flex;

	}
	nav ul li {
		flex: 1 1 100%;

		
	}
	main{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	main h2 {
		grid-column: 1 / span 2;
	}

	#menu {
		display: none; /* hide hamburger button */
		background-color: #eee;
		color: #000;
	}
	.navigation li{
		display: block;
	}
	.navigation{
		display: flex;
		flex-direction: row; 
		justify-content: space-between; 
		align-items: center
	}
	
}
/* Desktop Styles 
@media (min-width: 769px) {
    /* Header Styles 
    header {
        /* Desktop header styles here 
    }

    /* Navigation Styles 
    .navigation {
        /* Desktop navigation styles here 
    }

    /* Hamburger Button Styles (Hidden on Desktop) 
    #menu {
        display: none; /* Hide the hamburger button on desktop 
    }

    /* Hero Section Styles 
    #hero {
        /* Desktop hero section styles here 
    }

    /* Main Content Styles 
    .home-grid {
        /* Desktop home grid styles here 
    }

    /* Individual Card Styles 
    .chicken-card,
    .burger-card,
    .combo-card,
    .beef-card,
    .fish-card,
    .droit-card,
    .macron-card,
    .exquist-card,
    .foodes-card,
    .msg,
    .card2 {
        /* Desktop card styles here 
    }

    /* Footer Styles 
    footer {
        /* Desktop footer styles here 
    }
}
*/