/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;

	}
	nav ul li {
		flex: 1 1 100%;

		
	}
	.home-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
		
	}
	.second-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	.container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr; /* Two columns layout */
		grid-gap: 20px; /* Adjust the gap between items as needed */
		align-items: start; /* Align items at the start of the grid rows */
		margin: 20px; /* Add some margin for better spacing */
	}
	
	.image-container {
		grid-column: span 2; /* Make the image container span across both columns */
	}
	
	/* Add any additional styles as needed */
	/*body {
		display: grid;
		grid-template-columns: 1fr 1fr; /* Two equal columns */
		 /* Adjust the gap between columns 
	}*/
	
	.container {
		grid-column: span 2; /* Make the main container span both columns */
	}
	
	/* Specify styles for the left column containing images */
	.container picture {
		margin-bottom: 20px; /* Adjust the spacing between images */
	}
	
	/* Specify styles for the right column containing text content */
	.container section {
		background-color: #f9f9f9; /* Set background color for contrast */
		padding: 20px;
		border-radius: 10px;
	}
	
	footer {
		grid-column: span 2; /* Make the footer span both columns */
		background-color: #333; /* Set background color for contrast */
		color: #fff; /* Set text color for contrast */
		text-align: center;
		padding: 10px;
	}
	
	
	.event{
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%
    }
    .event2{
        grid-column:1/2;
        grid-row: 3/4;
        margin: 20px;
    }
	/*.content1{
        grid-column: 1/2;
        margin: 20px;
    }*/
	.calendar{
        grid-column: 1/2;
        grid-row:2/3;
        width: 400px;
        height: 400px;
    }
    #cc1, #cc2, #cc3, #cc4, #cc5, #cc6{
       /* grid-column: 2/4;*/
		animation: fade 15s;
		
    }
	
	/*main{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}*/
	/*main h2{
		grid-column: 1 / span 2;
	}*/

	#menu {
		display: none; /* hide hamburger button */

	}
	.navigation li{
		display: block;
	}
	.navigation{
		display: flex;
		flex-direction: row; 
		justify-content: space-between; 
		align-items: center
	}
	
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}