/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;

	}
	
	
	/*main{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}*/
	/*main h2{
		grid-column: 1 / span 2;
	}*/

	#menu {
		display: none; /* hide hamburger button */

	}
	.navigation li{
		display: block;
	}
	.navigation{
		display: flex;
		flex-direction: row; 
		justify-content: space-between; 
		align-items: center
	}
	
}
