* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    margin-left: 20%;
    margin-right: 20%;
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #800080;
    color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.hero {
    margin: 10px auto;
    position: relative;
   /* height: 300px;*/
}
.hero img{
    width: 70%;
    height: 50%;
    object-fit: cover;
}
#info {
    padding: 2rem;
    border-style: solid;
    margin: 1rem;

}
.herowall{
    position: absolute;
    top: 30px;
    left: 10px;
    background: #9b59b6;
    border: 1px solid black;
    padding: 1.5rem;
}
.herowall p{
    margin: 0;
    padding: .25rem;
    font-size: 1rem;
    font-weight: 600;
}
main{
    background-color: #1abc9c;
    color: #ffffff;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}

header,
main {
   /*  max-width: 767px;*/
	margin: 0 auto;
}
main h2 {
    text-align: left;
    margin: 2rem;
}
header img{
    width: 180px;
    height: auto;
    box-shadow: 0 0 30px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;
}
.card1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    text-align: left;
    width: 300px;
    height: 200px;
    background-color: #16a085; 
    margin-right: 20px; 
}
.card1 h3{
    background-color: #16a085;

}
.card2 h3{
        background-color: #000;
}


.card2{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: right;
    gap: 20px;
    width: 200px;
    height: 100px;
    background-color: #16a085; 
    color: #ffffff;
}


h1 {
	font-size: 2rem;
}

nav {
	background-color: #9b59b6;
    color: #ffffff;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #ffffff;
}

.active {
	color: #2ecc71;
}

footer {
    background-color: #3498db;
    position: relative;
    color: #ffffff;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    z-index: 10;
}
footer a {
    color: #FFFFFF;
    text-decoration: underline lightblue;
    transition: color 0.5s, text-shadow 0.5s;
}
footer a:hover {
    color: lightgreen;
    text-shadow: 1px 1px 10px rgb(216, 219, 209);
}
#updated {
    color: #FFFFFF;
    font-size: 12px;
}
#not-reasonable-size {
    display: none;
}
.brk1 {
    display: none;
}
.unBrk1 {
    display: inline;
}



#scroll-down.up {
    top: calc(100%);
}


::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: seagreen;
    border-radius: 5px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}