/* Larger Views ******************************/
@media (min-width: 640px) { 
	nav ul {
		display: flex;
		flex-direction: row;
	}
	nav ul li {
		display: block;
		flex: 1 1 100%;
    }
	
    .hero img{
        width: 100%;
        height: auto;
    }
	/*.card2{
		grid-template-columns: 1fr 1fr;
		grid-column: 2/3;
	}*/
   
	main{
		display: grid;
	}

	main h2 {
		grid-column: 1 / span 2;
	}
	#menu {
		display: none; /* hide hamburger button */
		background-color: #eee;
		color: #000;
	}
	.navigation li{
		display: block;
		flex-direction: row;
		justify-content: space-between; 
		align-items: center;
	}
	.navigation{
		display: flex;
		flex-direction: row; /* Change flex-direction to row */
		justify-content: space-between; /* You can add other styling properties as needed */
		align-items: center
	}
	
	
}
